<!doctype html>

<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		AWS.config.update({
    	//These are temporary credentials generated via boto3 assume_role.
    	accessKeyId : '{{AccessKeyId}}',
    	secretAccessKey : '{{SecretAccessKey}}',
    	sessionToken : '{{SessionToken}}'
    });
</script>


</head>
<body style="margin:5%">
	<div class=container>



		<input type="file" id="myfile" name="myfile" style="display:none">
		<label for="myfile" class="btn btn-primary">Choose file</label>

		<br>
		<div style="margin-top:2%">
			<div class="progress">
				<div id="prog" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
			</div>
		</div>
		<button id="joinbtn" onclick="location.href = '/join'" class='button' type='button'>Enter Room</button>
		<script type="text/javascript">
			var btn = document.getElementById("joinbtn")
			btn.style.display="none";
			var fileselector=document.getElementById('myfile')
			function makeid(length) {
				var result           = '';
				var characters       = 'abcdefghijklmnopqrstuvwxyz0123456789';
				var charactersLength = characters.length;
				for ( var i = 0; i < length; i++ ) {
					result += characters.charAt(Math.floor(Math.random() * charactersLength));
				}
				return result;
			}
			console.log(makeid(5));
			fileselector.onchange=function(){
				console.log(fileselector.files[0].name)
				var bucket = new AWS.S3({params: {Bucket: 'watchsyncus'}});
				var fileChooser = document.getElementById('file');
				var bucketName = 'watchsyncus';
				var fileToBeUpload = fileselector.files[0];

// Initialize the AWS Object
var bucket = new AWS.S3({
	apiVersion: '2006-03-01',
	params: {Bucket: bucketName}
});
var filename=makeid(5)
var params = {
	Key:filename,
	ContentType: fileToBeUpload.type,
	Body: fileToBeUpload,
	ContentDisposition: 'attachment'
};

/* turn off the timeout (Optional) */
AWS.config.httpOptions.timeout = 0;
bucket.upload(params).on('httpUploadProgress', function(evt) {
	var uploaded = Math.round(evt.loaded / evt.total * 100);
	document.getElementById('prog').style.width=uploaded+'%';
	console.log(`File uploaded: ${uploaded}%`);
}).send(function(err, data) {
	if (err){
        // an error occurred, handle the error
        console.log(err, err.stack);
        return;
    }

    var fileUrl = data.Location;
    console.log('File URL:', fileUrl);
    alert('File is uploaded successfully!');
    btn.style.display="block"
    document.getElementById("joinbtn").onclick = function() {
    	location.href='/room/'+filename;
    }
})}
</script>
</div>
</body>
</html>

