  <!doctype html>

  <html lang="en">
  <head>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>

<body>
	<p>sdkjfhjskgj</p>
   <video id="video" controls width="500" muted="muted" >   
    <source src="https://hsmtmts.s3.eu-west-2.amazonaws.com/High.School.Musical.The.Musical.The.Series.S01E06.What.Team.720p.WEB-DL.x264-Pahe.in.mkv" type="video/mp4"/>  
    <param name="allowfullscreen" value="true">
    <param name="allowscriptaccess" value="always">
    <param name="flashvars" value="file=video.mp4">

</video>
<script type="text/javascript">
    /*var vid = document.getElementById("video");
		vid.onseeking = function() {
    	alert("{{js}}");
    };*/
    var channel={{roomID}}
    $(document).ready(function(){
        console.log(channel)
        var video=document.getElementById('video')
        var userAction=true;
        /*var socket = io.connect('https://' + document.domain + ':' + location.port,{transports: ['websocket']});*/
        if (location.protocol !== 'https:') {
    location.replace(`https:${location.href.substring(location.protocol.length)}`);
}
        var socket=io.connect('https://'+'document.domain'+':'+location.port,{transports:['websocket']})
        socket.on('connect', function(){
            socket.emit('join',{'channel':channel});
        })
        socket.emit('jumba',{'channel':channel})
        $("video").on("pause", function (e) {
                if (userAction===true){
                if (video.readyState==4){
                socket.emit('pause',{'time':e.target.currentTime,'channel':channel})}
            }
            


        })
        $("video").on("play", function (e) {
                if (userAction===true){
                socket.emit('play',{'time':e.target.currentTime,'channel':channel})
            }

        })
        socket.on('success',function(data){
            alert(data);
        })
       socket.on('pause', function(msg){
                userAction=false;
                if (video.currentTime!==msg.time){
                    video.currentTime=msg.time
                }
                video.pause()
                userAction=true
            })

        socket.on('play', function(msg){
                userAction=false;
                if (video.currentTime!==msg.time){
                    video.currentTime=msg.time
                }
                video.play()
                userAction=true
            })
        socket.on('giveMeTime',function(data){
        var PAUSED='F'
        if (video.paused){PAUSED='T'}
        room = channel
        socket.emit('syncWithTime',{'time':video.currentTime,'channel':room,'paused':video.paused})})
        socket.on('syncWithTime',function(data){
            console.log(data.time)
            video.currentTime=data.time
            userAction=false
            console.log(data.paused)
            if (data.paused===false){
                video.play()
            }
            userAction=true
            })
        
    }
    )
    


</script>
</body>
</html>
