<!doctype html>

<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
<script type="text/javascript">
    AWS.config.update({
        accessKeyId : '{{AccessKeyId}}',
        secretAccessKey : '{{SecretAccessKey}}',
        sessionToken : '{{SessionToken}}'
    });
</script>


	</head>
	<body>
		<label for="myfile">Select a file:</label>
<input type="file" id="myfile" name="myfile">
<script type="text/javascript">
var fileselector=document.getElementById('myfile')

fileselector.onchange=function(){
console.log(fileselector.files[0].name)
var bucket = new AWS.S3({params: {Bucket: 'watchsyncus'}});
var fileChooser = document.getElementById('file');
var bucketName = 'watchsyncus';
var fileToBeUpload = fileselector.files[0];

// Initialize the AWS Object
var bucket = new AWS.S3({
    apiVersion: '2006-03-01',
    params: {Bucket: bucketName}
});

var params = {
    Key:fileToBeUpload.name,
    ContentType: fileToBeUpload.type,
    Body: fileToBeUpload,
    ContentDisposition: 'attachment'
};

/* turn off the timeout (Optional) */
AWS.config.httpOptions.timeout = 0;

bucket.upload(params).on('httpUploadProgress', function(evt) {
    var uploaded = Math.round(evt.loaded / evt.total * 100);
    console.log(`File uploaded: ${uploaded}%`);
}).send(function(err, data) {
    if (err){
        // an error occurred, handle the error
        console.log(err, err.stack);
        return;
    }

    var fileUrl = data.Location;
    console.log('File URL:', fileUrl);
    alert('File is uploaded successfully!');
})}
		</script>
	</body>
</html>

